{% extends 'home.html' %}
{% load static %}
{% block load_css %}
<!-- Add custom CSS here if needed -->
{% endblock load_css %}
{% block body %}

<section class="text-gray-600 body-font relative" style="width: 40%; margin:auto; margin-top:300px; margin-bottom:20px; height:80vh;">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900" style="text-align: center;">Transaction Failed</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Unfortunately, your transaction could not be completed. Please try again.</p>
            <p><a href="{% url 'checkout' %}" class="text-primary">Try again.</a></p>
        </div>

    </div>
</section>

<style>
    .bg-primary {
        background-color: #1c64f2; /* Adjust the primary color as needed */
    }
    .hover\:bg-primary-dark:hover {
        background-color: #1554b6; /* Adjust the darker shade for hover effect */
    }
    .text-primary {
        color: #1c64f2; /* Adjust the primary color for text as needed */
    }
    .text-primary:hover {
        color: #1554b6; /* Adjust the darker shade for hover effect */
    }
</style>

{% endblock %}
