{% extends "home.html" %}
{% load static %}
{% block load_css %}
<link rel="stylesheet" type="text/css" href="{% static " css/cart.css" %}" />
{% endblock load_css %}
{% block body %}
<section class="h-100 h-custom" style="background-color: #161616;">
  <div class="container py-5 h-100 pt-5 mt-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{ cart_items|length }}</h6>
                  </div>
                  <hr class="my-4">
                  {% if cart_items %}
                  {% for item in cart_items %}
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img src="{{ item.product.image.url }}" class="img-fluid rounded-3" alt="{{ item.product.name }}">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{ item.product.name }}</h6>
                      <h6 class="text-black mb-0">{{ item.size.name }}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <form action ="{% url "decrease" item.product.id %}">
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2">
                          <i class="fas fa-minus"></i>
                        </button>
                      </form>
                      <input id="quantity{{ item.id }}" min="1" name="quantity" value="{{ item.quantity }}"
                        type="number" class="form-control form-control-sm" onchange="updateSubtotal('{{ item.id }}')" />
                      <form action ="{% url "add_to_cart" item.product.id item.size.id %}">
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2">
                          <i class="fas fa-plus"></i>
                        </button>
                      </form>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0" id="subtotal{{ item.id }}" data-price="{{ item.product.price }}"> Tk {{ item.sub_total }}</h6>
                      <!-- Assuming sub_total is a method or property returning the total price -->
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="{% url 'remove_from_cart' item.id %}" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                  </div>
                  {% endfor %}
                  {% else %}
                  <p>Your cart is empty.</p>
                  {% endif %}

                  <div class="pt-5">
                    <h6 class="mb-0"><a href="{% url "shop" %}" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">Items {{ cart_items|length }}</h5>
                    <!-- Display the total number of cart items -->
                    <h5>Tk {{ total_price }}</h5> <!-- Display the total price -->
                  </div>

                  <h5 class="text-uppercase mb-3">Shipping</h5>

                  <div class="mb-4 pb-2">
                    <select data-mdb-select-init>
                      <option value="1">Standard-Delivery- Tk 100 </option>
                      <option value="2">Express Delivery -Tk 150</option>
                    </select>
                  </div>

                  <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                    <div data-mdb-input-init class="form-outline">
                      <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea2">Enter your code</label>
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>Tk {{ total_price }}</h5> <!-- Display the total price -->
                  </div>
                  {% if cart_items %}
                  <a href="{% url "billing" %}"> <!-- Assuming you have a checkout URL named 'checkout' -->
                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">Proceed to checkout</button>
                  </a>
                  {% endif %}
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
<!-- nav bar end  -->

{% endblock body %}